<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.order.mapper.Mapper">

	<select id="cartList" resultType="map">
		select b.basket_no, b.user_id, b.cloth_no, c.cloth_name, c.price, c.discount_rate, b.basket_cnt
		from basket b INNER JOIN clothes c
		on b.cloth_no = c.cloth_no
		where b.user_id = #{userId}
		order by b.basket_no
	</select>
	
	<update id="updownCount" parameterType="com.yedam.vo.BasketVO">
  		update basket
  		set basket_cnt = basket_cnt + #{basketCnt}
  		where basket_no = #{basketNo}
  	</update>
  	
  	<delete id="removeCart" parameterType="int">
  		delete from basket
  		where basket_no = #{basketNo}
  	</delete>
  	
  	<select id="csizeList" resultType="map">
		select b.cloth_no, s.quantity, s.csize
		from basket b inner join stock s
		on b.cloth_no = s.cloth_no
		where b.cloth_no = #{clothNo} and b.user_id = #{userId}
	</select>
	
	
	
	<select id="likeList" resultType="map">
		select *
		from(
				select rownum rn, l.user_id, c.*
				from likegather l INNER JOIN clothes c
				on l.cloth_no = c.cloth_no
				JOIN category g
                on c.small_category = g.small_category
				where l.user_id = #{userId}
				<if test="bigCategory != null  and bigCategory !=''.toString()">               
				and g.big_category = #{bigCategory}
				</if>
				)
		<![CDATA[
		where rn <= (#{page} * #{maxPg})
		]]>
		and rn > (#{page} - 1) * #{maxPg}
	</select>
	
	<delete id="removeLike" parameterType="com.yedam.vo.LikeVO">
  		delete from likegather
  		where cloth_no = #{clothNo} and user_id = #{userId}
  	</delete>
  	
	<insert id="insertLike" parameterType="com.yedam.vo.LikeVO">
  		insert into likegather
		values(#{userId}, #{clothNo})
  	</insert>
	
	<insert id="insertCartIcon" parameterType="com.yedam.vo.BasketVO">
  		insert into basket
		values(basket_seq.nextval, #{basketCnt}, #{userId}, #{clothNo})
  	</insert>
  	
	<delete id="removeCartIcon" parameterType="com.yedam.vo.BasketVO">
  		delete from basket
  		where user_id = #{userId} and cloth_no = #{clothNo}
  	</delete>
	
	<select id="CountLike" resultType="int">
		select count(1)
		from likegather l INNER JOIN clothes c
        on l.cloth_no = c.cloth_no
        JOIN category g
        on c.small_category = g.small_category 
		where l.user_id = #{userId}
		<if test="bigCategory != null  and bigCategory !=''.toString()">               
		and g.big_category = #{bigCategory}
		</if>
	</select>
	
	
	<select id="payList" resultType="map">
		select b.basket_no, b.user_id, b.cloth_no, c.cloth_name, c.price, c.discount_rate, b.basket_cnt
		from basket b INNER JOIN clothes c
		on b.cloth_no = c.cloth_no
		where b.basket_no = #{basketNo}
		order by b.basket_no
	</select>
	
	<select id="userInfo" parameterType="com.yedam.vo.UserVO" resultType="com.yedam.vo.UserVO">
		select *
		from users
		where user_id = #{userId}
	</select>
	
	<insert id="insertOrder" parameterType="com.yedam.vo.OrderVO">
  		insert into orders (order_no, order_cnt, order_price, delivery_state, user_id, cloth_no, address, recipient, phone, csize)
		values(order_seq.nextval, #{orderCnt}, #{ordPirce}, #{deliveryState}, #{userId}, #{clothNo}, #{address}, #{recipient}, #{phone}, #{csize})
  	</insert>
  	
  	<update id="downStock" parameterType="com.yedam.vo.StockVO">
  		update stock
  		set quantity = quantity - #{quantity}
  		where cloth_no = #{clothNo} and csize = #{csize}
  	</update>
	
	
	<select id="cartProduct" parameterType="com.yedam.vo.BasketVO">
		select *
		from basket
		where cloth_no = #{clothNo} and user_id = #{userId}
	</select>
	
	<select id="likeProduct" parameterType="com.yedam.vo.LikeVO">
		select *
		from likegather
		where cloth_no = #{clothNo} and user_id = #{userId}
	</select>
</mapper>
