<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.order.mapper.Mapper">

	<select id="cartList" resultType="map">
		select b.basket_no, b.user_id, b.cloth_no, c.cloth_name, c.price, c.discount_rate, b.basket_cnt
		from basket b INNER JOIN clothes c
		on b.cloth_no = c.cloth_no
		where b.user_id = #{userId}
		order by b.basket_no
	</select>
	
	<update id="updownCount" parameterType="com.yedam.vo.BasketVO">
  		update basket
  		set basket_cnt = basket_cnt + #{basketCnt}
  		where basket_no = #{basketNo}
  	</update>
  	
  	<delete id="removeCart" parameterType="int">
  		delete from basket
  		where basket_no = #{basketNo}
  	</delete>
  	
  	<select id="csizeList" resultType="map" parameterType="int">
		select b.cloth_no, s.quantity, s.csize
		from basket b inner join stock s
		on b.cloth_no = s.cloth_no
		where b.cloth_no = #{clothNo}
	</select>
	
	
	
	<select id="likeList" resultType="map">
		select *
		from(
				select rownum rn, l.user_id, c.*
				from likegather l INNER JOIN clothes c
				on l.cloth_no = c.cloth_no
				where l.user_id = #{userId})
		<![CDATA[
		where rn <= (#{page} * #{maxPg})
		]]>
		and rn > (#{page} - 1) * #{maxPg}
	</select>
	
	<delete id="removeLike" parameterType="int">
  		delete from likegather
  		where cloth_no = #{cloth_no}
  	</delete>
  	
	<insert id="insertLike" parameterType="com.yedam.vo.LikeVO">
  		insert into likegather
		values(#{userId}, #{clothNo})
  	</insert>
	
	<insert id="insertCartIcon" parameterType="com.yedam.vo.BasketVO">
  		insert into basket
		values(basket_seq.nextval, #{basketCnt}, #{userId}, #{clothNo})
  	</insert>
  	
	<delete id="removeCartIcon" parameterType="com.yedam.vo.BasketVO">
  		delete from basket
  		where user_id = #{userId} and cloth_no = #{clothNo}
  	</delete>
	
	<select id="CountLike" parameterType="String" resultType="int">
		select count(1)
		from likegather
		where user_id = #{userId}
	</select>
	
</mapper>
