<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.yedam.category.CategoryMapper">


	  <select id="searchList" parameterType="com.yedam.category.ClothesVO">
		select * from(select rownum rs, a.* from
		(select * from clothes 
		where cloth_name like '%'||#{searchword}||'%' or small_category like '%'||#{searchword}||'%' or brand like '%'||#{searchword}||'%' 
		<choose>
			<when test = "orderby != null and orderby != ''">
				order by ${orderby}
			</when>
			
			<otherwise>
				order by cloth_no desc
			</otherwise>
		</choose>
		) a  where rownum <![CDATA[<= ]]> (#{page}) * (#{prod}) <!-- (#{page}-1) * 12 -->

		)where rs > (#{page}-1) * (#{prod})<!-- (#{page} * 12) -->
	  </select>
	 
	 <select id="searchCount" parameterType="string" resultType="int">
		select count(*)
		from clothes
		where cloth_name like '%'||#{searchword}||'%' or small_category like '%'||#{searchword}||'%' or brand like '%'||#{searchword}||'%' 
	  </select>
	
	  
	 <select id="categoryCount" parameterType="string" resultType="int">
		select count(*)
		from clothes left outer join category
		on clothes.small_category = category.small_category
		where big_category = #{param}
	  </select>
	  
  	<select id="productCount" parameterType="int" resultType="int">
		select count(*)
		from clothes 
	  </select>
  	
  	<select id ="randomMain" parameterType="String" resultType="com.yedam.category.ClothesVO">
		select *
		from ( select clo.* ,
		        ca.big_category
		from clothes clo
		join category ca on clo.small_category = ca.small_category
		order by DBMS_RANDOM.RANDOM()
		)
		where rownum <![CDATA[<= 4]]> 
	</select>
	
	 <select id ="randomMain8" parameterType="String" resultType="com.yedam.category.ClothesVO">
		select *
		from ( select clo.* ,
		        ca.big_category
		from clothes clo
		join category ca on clo.small_category = ca.small_category
		order by DBMS_RANDOM.RANDOM()
		)
		where rownum <![CDATA[<= 8]]> 
	</select>
	
	<select id="clothListsort" parameterType="com.yedam.category.ClothesVO">
		select *
		from clothes
		order by ${cate}
	 </select>
	 
	 <select id="clothListsort2" parameterType="com.yedam.category.ClothesVO">
		select * from(select rownum rs, a.* from
		(select * from clothes  join category
		               on clothes.small_category = category.small_category
        <if test="bigCategory != null  and bigCategory !=''.toString()">               
			where big_category = #{bigCategory} 
		</if>
		<if test="searchword != null  and searchword !=''">               
			where cloth_name like '%'||#{searchword}||'%' or small_category like '%'||#{searchword}||'%' or brand like '%'||#{searchword}||'%' 
		</if>
		<choose>
			<when test = "orderby != null and orderby != ''">
				order by ${orderby}
			</when>
			
			<otherwise>
				order by cloth_no desc
			</otherwise>
		</choose>
		) a  where rownum <![CDATA[<= ]]> (#{page}) * (#{prod}) <!-- (#{page}-1) * 12 -->

		)where rs > (#{page}-1) *  (#{prod})<!-- (#{page} * 12) -->

	 </select>
	 
  	<select id="bestSeller7" parameterType="com.yedam.category.ClothesVO">
		select *
		from (select * from clothes order by cnt desc)
		where rownum  <![CDATA[<= 7]]> 
	 </select>
	 
	 <select id="brandsort" parameterType="com.yedam.category.ClothesVO">
		select * from(select rownum rs, a.* from
		(select * from clothes 
        <if test="brand != null  and brand !=''.toString()">               
			where brand = #{brand} 
		</if>
		<if test="searchword != null  and searchword !=''">               
			where cloth_name like '%'||#{searchword}||'%' or small_category like '%'||#{searchword}||'%' or brand like '%'||#{searchword}||'%' 
		</if>
		<choose>
			<when test = "orderby != null and orderby != ''">
				order by ${orderby}
			</when>
			
			<otherwise>
				order by cloth_no desc
			</otherwise>
		</choose>
		) a  where rownum <![CDATA[<= ]]> (#{page}) * (#{prod}) <!-- (#{page}-1) * 12 -->

		)where rs > (#{page}-1) *  (#{prod})<!-- (#{page} * 12) -->

	 	</select>
	 
	   <select id="brandCount" parameterType="string" resultType="int">
		select count(*)
		from clothes 
		where brand = #{brand}
	  </select>

  
  
  </mapper>