<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.yedam.category.CategoryMapper">
  <!-- 
	  <sql id="searchCond">
		<where>
		    <choose>
		    	<when test="searchCondition == 'T'.toString()">
		    	title like '%'||#{keyword}||'%'
		    	</when>
		    	<when test="searchCondition == 'W'.toString()">
		    	writer like '%'||#{keyword}||'%'
		    	</when>
		    	<when test="searchCondition == 'TW'.toString()">
		    	(writer like '%'||#{keyword}||'%' or title like '%'||#{keyword}||'%')
		    	</when>
		    	<otherwise>
		    	1 = 1
		    	</otherwise> 
		    </choose>
		    </where>
	</sql>
	
	
	  <select id="clothList" parameterType="com.yedam.category.SearchVO" resultType="com.yedam.category.ClothesVO">
		
		select *
		from(select rownum rn, b.*
	    from clothes b
	    <include refid="searchCond"></include>
	    order by cloth_no desc) a
		where rn > (#{page} - 1)* 12 
		<![CDATA[
		and rn <= (#{page} * 12)
		]]>
	  </select>
	  
	  	   <select id="selectCount" parameterType="com.yedam.category.SearchVO" resultType="int">
		 select count(1)
		 from clothes
		<include refid="searchCond"></include>
		 
		</select>
	   -->
	  <select id="clothList" parameterType="com.yedam.category.ClothesVO">
	  select *
	  from clothes
	  order by cloth_no desc
	  </select>
	  
	  <select id="clothListpants" parameterType="com.yedam.category.ClothesVO">
		select *
		from clothes left outer join category
		on clothes.small_category = category.small_category
		where big_category = '바지'
	  </select>
	  
	  <select id="categoryList" parameterType="com.yedam.category.ClothesVO">
		select *
		from clothes left outer join category
		on clothes.small_category = category.small_category
		where big_category = #{cate}
	  </select>
	  
	  <select id="searchList" parameterType="com.yedam.category.ClothesVO">
	  	select *
		from clothes
		where cloth_name like '%'||#{searchword}||'%' or small_category like '%'||#{searchword}||'%' or brand like '%'||#{searchword}||'%'
		order by ${orderby}
	  </select>

	  
	 <select id="categoryCount" parameterType="string" resultType="int">
		select count(*)
		from clothes left outer join category
		on clothes.small_category = category.small_category
		where big_category = #{param}
	  </select>
  	
  	
  	<select id ="randomMain" parameterType="String" resultType="com.yedam.category.ClothesVO">
		select *
		from ( select clo.* ,
		        ca.big_category
		from clothes clo
		join category ca on clo.small_category = ca.small_category
		order by DBMS_RANDOM.RANDOM()
		)
		where rownum <![CDATA[<= 4]]> 
	</select>
	
	 <select id ="randomMain8" parameterType="String" resultType="com.yedam.category.ClothesVO">
		select *
		from ( select clo.* ,
		        ca.big_category
		from clothes clo
		join category ca on clo.small_category = ca.small_category
		order by DBMS_RANDOM.RANDOM()
		)
		where rownum <![CDATA[<= 8]]> 
	</select>
	
	<select id="clothListsort" parameterType="com.yedam.category.ClothesVO">
		select *
		from clothes
		order by ${cate}
	 </select>
	 
	 <select id="clothListsort2" parameterType="com.yedam.category.ClothesVO">
		select *
		from clothes join category
		               on clothes.small_category = category.small_category
        <if test="bigCategory != null  and bigCategory !=''">               
		where big_category = #{bigCategory}
		</if>
		<if test="searchword != null  and searchword !=''">               
			where cloth_name like '%'||#{searchword}||'%' or small_category like '%'||#{searchword}||'%' or brand like '%'||#{searchword}||'%'
		</if>
		<choose>
			<when test = "orderby != null and orderby != ''">
				order by ${orderby}
			</when>
			
			<otherwise>
				order by cloth_no desc
			</otherwise>
		</choose>
	 </select>
	 
  	<select id="bestSeller7" parameterType="com.yedam.category.ClothesVO">
		select *
		from (select * from clothes order by cnt desc)
		where rownum  <![CDATA[<= 7]]> 
	 </select>

  
  
  </mapper>