<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yedam.admin.AdminMapper">
  	<update id="mergeProd" parameterType="com.yedam.admin.StockVO">
  		merge
		into stock a
		using dual
		on (a.cloth_no = #{clothNo} AND a.csize = #{csize})
		when matched then 
		    update set a.quantity = a.quantity + #{addQt}
		when not matched then
	    insert (a.cloth_no, a.quantity, a.csize)
	    values (#{clothNo}, #{addQt} , #{csize})
  	</update>
  	
  	<select id="selectStock" parameterType="int" resultType="com.yedam.admin.StockVO">
  		select *
  		from stock
  		where cloth_no = ${clothNo}
  	</select>
  	
  	<select id="selSale" parameterType="int" resultType ="double">
  		select discount_rate
  		from clothes
  		where cloth_no = ${clothNo}
  	</select>
  	
  	<select id="selProd" parameterType="int" resultType ="com.yedam.admin.ClothesVO">
  		select *
  		from clothes
  		where cloth_no = ${clothNo}
  	</select>
  	
  	<update id="uptSale" parameterType="com.yedam.admin.ClothesVO">
  		update clothes
		set discount_rate = ${discountRate}
		where cloth_no = ${clothNo}
  	</update>
  	
  </mapper>
  
  