<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.yedam.product.ReviewMapper">
 
 <insert id="insertReview" parameterType="com.yedam.vo.ReviewVO">
insert into review(review_no,cloth_no,user_id,detail,grade)
values(review_seq.nextval,#{clothNo},#{userId},#{detail},#{grade})
</insert>

<select id="reviewList" parameterType="int" resultType="com.yedam.vo.ReviewVO">
select * 
from review
where cloth_no = ${clothNo}
</select>

<select id="getGrade" parameterType="int" resultType="map">
SELECT COUNT(grade) cnt ,round( AVG(grade),2) avg
FROM review
WHERE cloth_no = ${clothNo}

</select>

 </mapper>

