<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.member.MemberMapper">

	<!-- 회원 등록 -->
	<insert id="memberInsert"
		parameterType="com.yedam.member.UserVO">
		INSERT INTO users (user_id, password, name, address,
		phone, birthdate)
		VALUES (#{userId}, #{password}, #{name}, #{address},
		#{phone}, #{birthdate})
	</insert>

	<!-- 아이디 중복 체크 -->
	<select id="checkMemberId" parameterType="String"
		resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE user_id = #{id}
	</select>

	<!-- 휴대폰 번호 중복 체크 -->
	<select id="checkMemberPhone" parameterType="String"
		resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE phone = #{phone}
	</select>

	<!-- 로그인 -->
	<select id="loginCheck" parameterType="com.yedam.member.UserVO"
		resultType="com.yedam.member.UserVO">
		SELECT *
		FROM users
		WHERE user_id =
		#{userId}
		AND password = #{password}
	</select>

	<!-- 아이디 찾기 -->
	<select id="findUserId" parameterType="com.yedam.member.UserVO"
		resultType="String">
		SELECT user_id
		FROM users
		WHERE name = #{name}
		AND phone = #{phone}
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="findUserPass" parameterType="map"
		resultType="String">
		SELECT password
		FROM users
		WHERE name = #{name}
		AND user_id = #{userId}
	</select>
	
	<update id="userPassChange" parameterType="com.yedam.member.UserVO">
		UPDATE users
		SET password = #{password}
		WHERE user_id = #{userId}
	</update>
	

	<!-- 회원 정보 수정 -->
	<update id="updateMemberInfo"
		parameterType="com.yedam.member.UserVO">
		UPDATE users
		SET name = #{name},
		password = #{password},
		birthdate = #{birthdate},
		address = #{address}
		WHERE user_id = #{userId}
	</update>

	<!-- 주문 조회 -->
	<select id="selectOrderList" parameterType="String"
		resultType="com.yedam.member.ClothOrderVO">
		SELECT order_no, TO_CHAR(order_date, 'YYYY.MM.DD') as
		order_date, order_price, user_id, cloth_name, orders.cloth_no
		FROM orders
		LEFT OUTER JOIN clothes
		ON orders.cloth_no = clothes.cloth_no
		WHERE user_id = #{userId}
	</select>
	
	


</mapper>